extends ../layout
block content
  .container
    .row
      .col-md-7
        img( src='http://placehold.it/1280x1580')
      .col-md-5
        h1.text-right DAVID L. HOYT
        h2.text-right Founder
        p.text-center
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet et risus non elementum. Vestibulum elementum suscipit ligula quis tempor. Nam a nisi neque. 
        hr
        hr
        iframe(width='500', height='375', src='http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1')
    .row
      .col-md-7
      .col-md-5.text-center   
        br
        button.btn.btn-warning WORD WINDER
        br
    .row   
      .col-lg
        br
        br
        p 
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet et risus non elementum. Vestibulum elementum suscipit ligula quis tempor. Nam a nisi neque. Integer sit amet maximus magna. Vivamus gravida tincidunt elit fermentum tempor. Nunc vel scelerisque metus. Fusce non metus vel justo tristique dignissim. Pellentesque porta tellus ligula, id vehicula diam accumsan eu. Nunc congue elit ullamcorper lacus facilisis mollis. Nulla facilisi. Duis turpis eros, posuere et lobortis vel, tincidunt sed lorem. Duis nec gravida augue. Suspendisse varius orci risus, ut facilisis erat pulvinar sit amet. Nullam sit amet purus sed magna tristique viverra sit amet vel ipsum.
        
