extends ../layout
block beforeBody
  - bodyClasses.push('david')
block content
  section.full(style="background-color:#f4f7f8;")
    .slant
    .container-fluid.site-wrapper-inner
      .row
        .col-md-5.col-md-offset-1
          .intro
            .david-intro
              h1 DAVID L. HOYT
              h2.blue PUZZLED MAN
              p
                | David L. Hoyt is the world's most-syndicated daily word game creator and the inventor of numerous well-known puzzles, games and brain teasers including USA Today Word Roundup, USA Today Up & Down Words, Jumble Crosswords, TV Jumble, Word Winder, 
                a(href="http://www.just-2-words.com/")
                  | Just 2 Words
                | , and more.
              p
                | Hoyt’s puzzles and games are featured in newspapers, online, on mobile devices, in books and calendars and more.
              p
                | He is the current author of
                a(href="http://www.jumble.com/") 
                  | Jumble
                | , the most syndicated daily word game in the world, seen in more than 600 newspapers each day
                
                
            .david-intro-more
              h2.blue More About David
              p 
                | The newest of David’s endeavors is JUST 2 WORDS™; its' fun and fast game play makes it perfect for mobile devices! It's now available for download on iPhone, Android, Nook, and more.

              p
                | Jumble is one of the most beloved and successful word games in history. Created in 1954, it has been widely syndicated and licensed to become the most recognizable scrambled word game in the world. David has been the author of the Jumble since 2011 and 
                a(href="http://www.brainstorm-designs.com/#!about/cy2g")
                  | Jeff Knureck 
                | as been drawing the Jumble since 2008.
                
              p 
                | Roughly 70 million people have access to Jumble every day through more than 600 U.S. and international publications. It is available in books, on mobile applications and on the web. Classic Jumble and newer variations, such as Jumble Crosswords, Jumble Word Vault, Jumble Solitaire, Jumble Jong and others are also favorites.
              
              p 
                | Paragraph to talk about David's social media presence...
              
              ul
                li 
                  i.fa.fa-facebook-official 
                    | Facebook:
                  a(href="https://facebook.com/DavidLHoyt") David L Hoyt
                li 
                  i.fa.fa-twitter 
                    | Twitter: 
                  a(href="https://twitter.com/DavidLHoyt") @DavidLHoyt
                li 
                  i.fa.fa-instagram 
                    | Instagram: 
                  a(href="https://instagram.com/DavidLHoyt") @DavidLHoyt
        .col-md-5
          #david-video
            p.hover-title 
              | Hover over video to play
            video.hover-video(width="100%", height="auto", preload="auto" control="false")
              source(src="videos/david2.mp4", type="video/mp4")
            #play-pause
              
          .david-more
            .row
              .col-sm-6
                .link-wrap
                  i.fa.fa-book
                  a(href="http://www.jumble.com/")
                    h2 JUST 2 WORDS
                    h3 Blurb about ... Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  
              .col-sm-6
                .link-wrap
                  i.fa.fa-book
                  a(href="http://www.just-2-words.com/")
                    h2 JUMBLE
                    h3 Blurb about ... Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  
            .row
              .col-sm-6
                .link-wrap
                  i.fa.fa-book
                  a(href="")
                    h2 Some Link
                    h3 Blurb about ... Lorem ipsum dolor sit amet, consectetur adipisicing elit
                  
              .col-sm-6
                .link-wrap
                  i.fa.fa-book
                  a(href="")
                    h2 Some Link
                    h3 Blurb about ... Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    
      .toggle-more
        .row 
          .col-sm-5.col-md-offset-1
            .items
              a.collapsed ONLINE GAMES
              .closed
                .item
                  a(href="http://www.shockwave.com/gamelanding/wordwinder.jsp") JUMBLE
                .item
                  a(href="http://www.shockwave.com/gamelanding/dailyjumble.jsp") MERRIAM WEBSTER WORD WINDER CROSSWINDER
                .item
                  a(href="http://www.shockwave.com/gamelanding/jumblecrosswords.jsp") JUMBLE CROSSWORDS
                .item
                  a(href="http://www.shockwave.com/gamelanding/wordroundup.jsp") WORD ROUNDUP
                .item
                  a(href="http://www.shockwave.com/gamelanding/wordroundupchallenge.jsp") WORD ROUNDUP CHALLENGE
                .item
                  a(href="http://www.shockwave.com/gamelanding/wordrounduphollywood.jsp") WORD ROUNDUP: HOLLYWOOD EDITION
                .item
                  a(href="http://www.shockwave.com/gamelanding/wordroundupfrenzy.jsp") WORD ROUNDUP FRENZY
                .item
                  a(href="http://www.shockwave.com/gamelanding/wordrounduptrailblazer.\
                  jsp") WORD ROUNDUP TRAILBLAZER
                .item
                  a(href="http://www.shockwave.com/gamelanding/wordrounduppardners.\
                  jsp") WORD ROUNDUP PARDNERS
                .item
                  a(href="http://www.shockwave.com/gamelanding/wordroundupbingo.jsp") WORD ROUNDUP BINGO
                .item
                  a(href="http://www.shockwave.com/gamelanding/wordroundupbingomini.jsp") WORD ROUNDUP BINGO EXPRESS
                .item
                  a(href="http://www.shockwave.com/gamelanding/wordroundupbingoextreme.jsp") WORD ROUNDUP BINGO EXTREME
                .item
                  a(href="http://puzzles.usatoday.com/updownwords/") USA TODAY UP &#38; DOWN WORDS
                .item
                  a(href="http://puzzles.usatoday.com/wordroundup/") USA TODAY WORD ROUNDUP
                .item
                  a(href="http://www.shockwave.com/gamelanding/picturiffic.jsp") PICTURIFFIC
                .item
                  a(href="http://www.shockwave.com/gamelanding/picturifficfactsandfigures.\
                  jsp") PICTURIFFIC FACTS &#38; FIGURES
                .item
                  a(href="game/wordwinder/index.htm") WORD WINDER FINDER
                .item
                  a(href="http://www.shockwave.com/gamelanding/thisdayinhistory.\
                  jsp") THIS DAY HISTORY: THE GAME
                .item
                  a(href="http://www.shockwave.com/gamelanding/thisdayinushistory.\
                  jsp") THIS DAY U.S. HISTORY: THE GAME
                .item
                  a(href="http://www.shockwave.com/gamelanding/thisdayinclassicrockhistory.\
                  jsp") THIS DAY IN CLASSIC ROCK HISTORY: THE GAME
                .item
                  a(href="http://www.shockwave.com/gamelanding/findempoker.jsp") FIND "EM POKER
                .item
                  a(href="http://www.bigfishgames.com/onlinegames/\
                  5044/findem21/\
                  index.html") FIND "EM 21
                .item
                  a(href="http://www.shockwave.com/gamelanding/jumblewordvault.jsp") JUMBLE WORD VAULT
          .col-sm-5  
            .items
              a.collapsed MOBILE GAMES
              .closed
                .item
                  a(href="http://www.just2words.com/") JUST 2 WORDS
                .item
                  a(href="http://www.justjumble.com/") JUST JUMBLE
                .item
                  a(href="http://www.just2fun.com/") JUST 2 FUN
                .item
                  a(href="https://itunes.apple.com/us/app/wordwinderhd/id541130015?mt=8") WORD WINDER
                .item
                  a(href="https://itunes.apple.com/us/app/tictacdoku/\
                  id757466913?mt=8") TICTACKDOKU             
  section.full(style="background-color:#006990;")
    .container-fluid.site-wrapper-inner
      .row
        .col-sm-5.col-md-offset-1
          h1.headline.white
            | A Closer Look 
      .row
        .col-md-5.col-sm-offset-1
          
            iframe.video(width="640px", height="360px", src="https://www.youtube.com/embed/rBaEoiOnSzc", frameborder="0", allowfullscreen="")
              
        .col-sm-5
          .more-block
            p
              |  David L. Hoyt was born in Waterbury, CT in 1965. In the early 1990s, after pursuing a career as an options trader, David began to create puzzles as a part-time hobby – a pursuit which soon evolved into a full-time passion. After selling games to major companies including Parker Brothers, Mattel and Tiger Electronics, David left behind his trading career to focus on creating games. His sweeping success created an opportunity for him to partner up with Wheel of Fortune legend Pat Sajak. Combining their boundless creativity, the two men have created an online gaming paradise, featuring puzzles such as Lucky Letters™, Trivia Gems™ and the incredibly popular Code Number Sodoku™.
            p
              | The newest of David’s endeavors is WORD WINDER™, an entire brand of board games, puzzle books, and mobile apps. Described as “one of the best word games ever,” by Mike Hirtle, former Head of Global Product Acquisition at Hasbro, WORD WINDER™ is the first David L. Hoyt brand that has been taken straight to retail vs. licensing a concept.
            p
              | In WORD WINDER™, players attempt to create a continuous winding line of words creating a path from one side of the game board to another. The game board is made up of 16 double sided 4” x 4” letter grid boards that can be organized differently every time you play. In fact there, are 
              span
                | 263,130,836,933,693,530,167,197,089,370,112,000 
              | different board game combinations. WORD WINDER ™ board games, books and apps will launch in spring through nationwide retailers. WORD WINDER ™ is the co-invention of David, Steve Bullock of Adveractive, Inc. and Graeme Thomson of HL Games.
              
            .row
              .col-sm-12
                h2.white PARTNER WITH DAVID!
                p.white
                  | Looking for a word game or puzzle for your next big initiative? Let the creativity abound! David loves partnering with motivated minds and working with great companies to help develop new puzzles and entertaining an audience of from preschool to adults.  
                  a(href="/contact") Contact
              
       
  section.full(style="background-color:#f4f7f8;")
    .container-fluid.site-wrapper-inner
      .row
        .col-sm-5.col-md-offset-1
          h1.headline
            | Media, Press & Appearances
            
      .row
        .col-sm-10.col-md-offset-1
          h2.headline
            | Videos
          .row
            .col-md-6 
              iframe.video(width="640px", height="360px", src="https://www.youtube.com/embed/LS8FBb2NSiw", frameborder="0", allowfullscreen="")
              h3.text-center
                | The Morning Blend InterviewNBC Milwaukee - October 23, 2012
            .col-md-6 
              iframe.video(width="640px", height="360", src="https://www.youtube.com/embed/O8hhmzqAU10", frameborder="0", allowfullscreen="")
              h3.text-center
                | Watch kids loving it.
      .row
        .col-sm-10.col-md-offset-1
          h2.headline
            | Press
            
      .row
        .col-sm-5.col-md-offset-1
          .link-wrap
            i.fa.fa-book
            h2 CBS 4 in Davenport, IA ­ April 2, 2012 
            a(href="http://www.whbf.com/Global/category.asp?C=190186&clipId=6904585&topVideoCatNo=149119&autoStart=true")
              p Local 4th Grade Tests Word Winder
          .link-wrap
            i.fa.fa-book
            h2 Prairie Advocate ­ March 28, 2012 
            a(href="http://www.pacc-news.com/3-28-12/cover_story3_28_12.html")
              p WC 4th Graders Test One of the Best Classroom Word Games    
          .link-wrap
            i.fa.fa-book
            h2 Savanna Times Journal ­ March 28, 2012 
            a(href="http://www.mycarrollcountynews.com/news/article_adaaeff6-78f1-11e1-adcb-0019bb30f31a.html")
              p Game creator visits West Carroll Primary School
          .link-wrap
            i.fa.fa-book
            h2 WCCI Radio Interview - March 22, 2012
            a(href="http://www.whbf.com/")
              p Interview at Carroll Elementary School in Savanna, IL
              
        .col-sm-5
          .link-wrap
            i.fa.fa-book
            h2 Word Winder
            a(href="http://www.giftsanddec.com/article/547904-Word_Winder_Inks_International_Licensing_Deal.php")
              p Word Winder Inks International Licensing Deal
            a(href="http://www.giftsanddec.com/article/547904-Word_Winder_Inks_International_Licensing_Deal.php")
          .link-wrap
            i.fa.fa-book
            h2 2011 ChiTag Recap 
            p "What I saw and liked"
            a(href="http://www.thegameaisle.com/2011-chitag-recap/") The Game Aisle 
            | 
            a(href="http://www.tmsfeatures.com/bio/david-hoyt/") Tribune Media Services 
