extends ../layout
block content
  .container
    .row
      .col-md-7.david_post
        img( src='images/david/david_blue_hands_pockets_720.png' width='480' height='848' margin-left='30px')
      .col-md-5.text-center.david_post
        .lower
          h1.text-right DAVID L. HOYT
          h2.text-right Founder
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet et risus non elementum. Vestibulum elementum suscipit ligula quis tempor. Nam a nisi neque. 
          hr
          br
          iframe(width='400', height='300', src='http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1')   
        .row
          
          button.btn.btn-warning.bcenter WORD WINDER     
    .row   
        br
        br
  p.textbox
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet et risus non elementum. Vestibulum elementum suscipit ligula quis tempor. Nam a nisi neque. Integer sit amet maximus magna. Vivamus gravida tincidunt elit fermentum tempor. Nunc vel scelerisque metus. Fusce non metus vel justo tristique dignissim. Pellentesque porta tellus ligula, id vehicula diam accumsan eu. Nunc congue elit ullamcorper lacus facilisis mollis. Nulla facilisi. Duis turpis eros, posuere et lobortis vel, tincidunt sed lorem. Duis nec gravida augue. Suspendisse varius orci risus, ut facilisis erat pulvinar sit amet. Nullam sit amet purus sed magna tristique viverra sit amet vel ipsum.
  .bottom
