extends ../layout
block beforeBody
  - bodyClasses.push('david-games-and-puzzles')
block content
  section.full
    .container-fluid.site-wrapper-inner
      .row
        .col-sm-12
          h1 Games And Puzzles
          
      .row
        .col-md-10.col-md-offset-1
          .header
          //- Header Image
          
        .row
          .col-md-4
            //- Thumbnails  
          .col-md-4
            //- Thumbnails
          .col-md-4
            //- Thumbnails
