extends ../layout
block beforeBody
  - bodyClasses.push('david-partnerships')
block content
  section.full
    .container-fluid.site-wrapper-inner
      .row
        .col-sm-12
          h1 David's Partners
