nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container-fluid
    //- .row
    //-   .col-xs-3
    ul.nav.navbar-nav.util-nav
      li.dropdown
        a#drop1.dropdown-toggle(href="#", data-toggle="dropdown", role="button")
          | Menu
          b.caret
        ul.dropdown-menu(role="menu", aria-labelledby="drop1")
          li(role="presentation")
            a(href="/", role="menuitem") Home
          li(role="presentation")
            a(href="/david", role="menuitem") David L. Hoyt
          li(role="presentation")
            a(href="/giant-word-winder", role="menuitem") Giant Word Winder
          li(role="presentation")
            a(href="/word-winder", role="menuitem") Word Winder
    .navbar-header.page-scroll
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.page-scroll(href="/")
        //- i.fa.fa-desktop
        img.logo(src="/images/logo/DLHlogo.png", alt="Word Winder Logo")
    .collapse.navbar-collapse.navbar-right.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href="/david") David
        li
          a(href="/giant-word-winder") Giant Word Winder
        li
          a(href="/word-winder") Word Winder
        li
          a(href="/contact") Contact
