@lost gutter 0px;
// @lost flexbox flex;
// @lost cycle none;

header, footer{
  position:fixed;
  // height: 80px;
  display:block;
  width: 100%;
  background: #E14603;
  z-index:9;
  // text-align:center;
  color: #FFD34E;
  padding: 10px 20px;
}

header {
  // lost-utility: clearfix;
  top:0px;

  .branding {
    // overflow: hidden;
    // float: left;
    text-align: center;

    .logo {
      h1 {
        width: 80px;
        margin: 0 auto;
      }
    }
  }

  .navigation {
    line-height: 50px;

    a {
      lost-column: 1/3;
      color: #FFF;
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

#fullpage {
  section {
    position: relative;
    margin-bottom: 0;

    .intro {
      padding: 20px;

      h1 {
        color: #fff;
        text-transform: uppercase;
      }

      p {
        color: #fff;
        font-size: 2rem;
      }
    }
  }

  section.dlh {
    background-image: url('/images/david/david.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: left;

    // &:before {
    //   content:"";
    //   position:absolute;
    //   top:0;
    //   left:0;
    //   width: 0;
    //   height: 0;
    //   border-top: 1000px solid #FFD34E;
    //   border-right: 1000px solid transparent;
    // }

    .intro {
      background-color: rgba(0,0,0, 0.3);
      color: #FFF;
      position: absolute;
      max-width: 600px;
      top: 300px;
      right: 100px;

      h1 {

      }

      p {
      }

      .btn-default {
        color: #fff;
        // font-family: 'Amatic SC',cursive;
        font-size: 2rem;
        font-weight: 700;
        border: 2px solid #fff;

        &:hover {
          background: transparent;
          border-color: #fff;
        }
        a {
          color: #fff;
        }
      }
    }
  }

  section.ww {

    &:before {
      content:"";
      position:absolute;
      top:0;
      left:0;
      width: 0;
      height: 0;
      border-top: 1000px solid #0198CF;
      border-right: 1000px solid transparent;
    }

    .ww-gfx {
      position: absolute;
      top: 100px;
      // left: 200px;
      left: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      // width: 600px;
      // height: 662px;
      width: 400px;
      height: 441px;
      @media (min-width: 960px) {
        width: 500px;
        height: 552px;
      }
      @media (min-width: 1280px) {
        width: 600px;
        height: 662px;
      }
      @media (min-width: 1600px) {
        width: 800px;
        height: 883px;
      }
    }

    // .ww-gfx,
    // .intro {
    //   lost-column: 1/2;
    // }


    .intro {
      background-color: rgba(255,255,255, 0.3);
      color: #E14603;
      position: absolute;
      max-width: 500px;
      // @media (min-width: 1280px) {
      //   max-width: 500px;
      // }
      @media (min-width: 1400px) {
        max-width: 700px;
      }
      top: 300px;
      right: 100px;

      h1 {
        color: #E04703;
      }

      p {
        color: #0198CF;
        font-size: 1.6rem;
        @media (min-width: 1280px) {
          font-size: 2rem;
        }
      }

      .btn-default {
        color: #E14603;
        font-size: 1.6rem;
        @media (min-width: 1280px) {
          font-size: 2rem;
        }
        font-weight: 700;
        border: 2px solid #E14603;

        &:hover {
          background: transparent;
          border-color: #E14603;
        }
        a {
          color: #E14603;
        }
      }
    }
  }

  section.gww {
    .intro {
      background-color: rgba(0,0,0, 0.3);
      color: #FFF;
      position: absolute;
      max-width: 800px;
      right: 100px;
      top: 300px;

      h1 {
      }

      p {
      }

      .btn-default {
        color: #fff;
        // font-family: 'Amatic SC',cursive;
        font-size: 2rem;
        font-weight: 700;
        border: 2px solid #fff;

        &:hover {
          background: transparent;
          border-color: #fff;
        }
      }
    }

    .grid-full {
      height: 100%;
      .item {
        lost-row: 1/1;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .video-full {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 1;
    }
  }
}

section {
  // padding-bottom: 20px;
  &.yellow {
    background-color: #ffd34e;
  }
  &.fullpage {
    .ww-intro {
      background-color: rgba(255, 255, 255, .5);
      padding: 10px 0;
    }
  }
}

// Navigation points
#fp-nav ul li, .fp-slidesNav ul li {
  display: block;
  width: 28px;
  height: 28px;
  margin: 20px 7px;
  position: relative;
}

#fp-nav ul li .fp-tooltip {
  color: #FFF;
  font-size: 2rem;
  // font-family: 'Amatic SC',cursive;
  font-weight: 700;
}

#fp-nav ul li .fp-tooltip.right {
  background-color: #E14603;
  top: 0;
  right: 36px;
  padding: 5px 10px;
  border-radius: 20px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #E14603;
}

// david page 1


//page margin
.topmargin
{
  margin-top: 100px;
}
h2{
  color:#0094C5;
}

.lowermargin{
  margin-top: 170px;
}

.david-intro,
.ww-intro,
.gww-intro {
  text-align: center;
  margin: 40px 0;
  border-bottom: 3px solid #0094C5;
}

.david-intro {
  text-align: right;
}

.ww-intro {
  border-bottom: none;
  h1 {
    color: #444;
  }
}

// text box
.textbox-top{
  background-color: #F9F9F9;
  color: #444;
  padding:30px;
  margin-top:30px;
}
.textbox-down{
  width: 100%;
  background-color:#0094C5;
  color: #ffffff;
  padding: 20px 40px;
}
// text styles
.white{
  color: #ffffff;
}

.picture-wide{
  width: 100%;
  height: 500px;
  padding-top: 30px;
  padding-bottom: 60px;
}
// LEFT CENTER RIGHT TOP
.top{
  margin-top: 40px;
}
.bottom{
  margin-bottom: 15px;
}

.center{
display: block;
margin-left: auto;
margin-right: auto;
}

.left{

}
.right{

}

// Z index
.zindex-1{
  z-index: -10;
}
.zindex1{
  z-index: 1;
}
.zindex2{
  z-index: 2;
}

// bottom-part

.bottom-img{
  width: 100%;
  height: 200px;
  margin-top:-17px;
  //border: solid 1px rgba(12, 37, 59, 0.89);
  background-color: rgba(7, 120, 241, 0.59);
}
 // button make over
 .btncover{
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color:#E6441C;

 }
.background-orange{
  width:100%;
  background-color: #FFD265;
}

.split {
  background-color: #f4f7f8;
  &.white {
    background-color: #fff;
  }
}

.info-bar {
  position: relative;
  background-color: #0094C5;
  margin-top: -5px;
  padding-bottom: 0;

  p {
    color: #ffffff;
    padding: 40px 0;
    margin-bottom: 0;
  }
}

.slant {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  border-top: 100vh solid #fff;
  border-right: 70vw solid transparent;

  &.white {
    border-top: 100vh solid #fff;
  }
  &.yellow {
    border-top: 100vh solid #ffd34e;
  }
}
section.more {
  background-color: #fff;
  padding: 40px 0 0;
}
.box {
  width: 100%;
  height: 300px;
  padding: 20px;
  border: 5px solid #E04703;
}

.play-gfx {
  margin-bottom: 20px;
}

// Testimonial Grid
.grid-testimonials
{
  overflow: hidden;
  padding-top: 3.125em
}
.grid-testimonials li
{
  float: left;
  list-style-type: none;
  padding-bottom: 3.125em
}
.grid-testimonials p
{
  line-height: 1.5em;
  margin: 0
}
.grid-testimonials-citation
{
  color: #656262;
  display: block;
  font-size: 1.125em;
  font-weight: 700;
  margin-top: 2em;
  text-transform: uppercase;
  text-align: center
}
.grid-testimonials li div
{
  border: 10px solid #ebebeb;
  padding: 2.125em 7.638888888888889%;
  position: relative;
  min-height: 184px;
}
.grid-testimonials .quote-arrow
{
  background: #fff;
  border-right:10px solid #ebebeb;
  border-bottom:10px solid #ebebeb;
  content: '';
  display: block;
  position: absolute;
  bottom: -27px;
  left: 50%;
  margin-left: -25px;
  width: 40px;
  height: 40px;
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}
@media screen and (min-width: 50em)
{
  .grid-testimonials li
  {
    margin-right: 5%;
    width: 30%
  }
  .grid-testimonials li:nth-child(3n)
  {
    margin-right: 0
  }
}
