// David page styles
body.david {
  section {
    &#david-l-hoyt {
      background-image: url(/images/david/david-peek_body_full.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left center;
    }
    // padding-bottom: 0;
  }
  .david-intro {
    h1 {
      color: #0094C5;
    }
    h2 {
      color: #0094C5;
    }
    p {
      color: #0094C5;
    }
  }
  .david-intro-more {
    padding-bottom: 20px;
  }
  .david-intro,
  .david-intro-more {
    text-align: left;
  }
  .thumb {
    margin-top: 13px;
  }
  .info-bar {
    margin-top: -5px;
  }

  .more {
    span {
      color: #0094C5;
    }
  }
}
// Word Winder page styles
body.ww {
  h1 {
    color: #fff;
  }
  h2 {
    color: #AD8E34;
    &.headline {
      color: #fff;
    }
  }
  p {
    color: #fff;
  }
  .btn-default {
    color: #E14603;
    // font-family: 'Amatic SC',cursive;
    font-size: 2rem;
    font-weight: 700;
    border-color: #0094C5;

    &:hover {
      background: transparent;
      border-color: #E14603;
    }

    span {
      color: #fff;
    }
  }
  .grid-testimonials p {
    color: #656262;
  }
}
// Gaint Word Winder page styles
body.gww {
  .gww-intro {
    background-color: rgba(0, 148, 197, 0.7);
    padding: 20px 0;
    border-bottom: none;
    border-radius: 10px;
    h1 {
      color: #fff;
      // font-weight: 700;
    }
    h2 {
      color: #fff;
      // font-weight: 700;
    }
    p {
      color: #fff;
      font-weight: 700;
    }
  }
  h3.headline {
    color: #0094C5;
    margin-bottom: 20px;
  }
  .btn-default {
    color: #fff;
    // font-family: 'Amatic SC',cursive;
    font-size: 2rem;
    font-weight: 700;
    border-color: #FFD84B;

    &:hover {
      background: transparent;
      border-color: #FFD84B;
    }

    span {
      color: #fff;
    }
  }
  ul {
    li {
      color: #fff;
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}
