extends layout
block beforeBody
  - bodyClasses.push('home')
block styles

block content
  .page-nav
    .page-nav-content
      ul
        li
          span#icon DLH
          span.text 
            a.page-scroll(href="#david") DAVID
        li
          span#icon WW
          span.text 
            a.page-scroll(href="#ww") WORD WINDER
        li
          span#icon GWW
          span.text 
            a.page-scroll(href="#gww") GIANT WORD WINDER

  section#david.david-section
    //- .slant
    .overlay
      .container-fluid.site-wrapper-inner
        .row
          .col-md-5.col-md-offset-1
            .intro
              h1 David L. Hoyt
              h2 
                | The man who puzzles America.
              p
                | ﻿David L. Hoyt is the most syndicated daily puzzle and word game creator in the world.
              a.btn.btn-default.btn-lg.page-scroll(href="/david")
                span
                  | Learn More About David 
                i.fa.fa-lg.fa-arrow-circle-right
              a.btn.btn-default.btn-lg.page-scroll(href="#ww")
                span
                  | Scroll down for Word Winder 
                i.fa.fa-lg.fa-arrow-circle-down
          .col-md-5
            
            #david-video
              p.hover-title 
                | Hover over video to play
              video.hover-video(width="100%", height="auto", preload="auto" control="false")
                source(src="videos/david3.mp4", type="video/mp4")
              #play-pause
  
  section#ww.ww-section
    //- .slant
    .overlay
      .container-fluid.site-wrapper-inner
        .row
          .col-md-5.col-md-offset-1
            .gfx-block
              img(src="/images/ww/home_wordwinder_gfx.png", alt="")
          .col-md-5
            .intro
              h1 Word Winder
              h2 The game of winding words
              p
                | WORD WINDER™ is the game of winding words. Lay down your chips to form winding lines of winding words. Outrace your opponents and block their lines. Strategy & Cunning! Offense, Defense, Temporary Alliances and Countless Game Board Combinations! From the world’s most syndicated word game creator.​
              a.btn.btn-default.btn-lg.page-scroll(href="/word-winder")
                span
                  | Learn More About Word Winder 
                i.fa.fa-lg.fa-arrow-circle-right
              a.btn.btn-default.btn-lg.page-scroll(href="#gww")
                span
                  | Scroll down for Giant Word Winder 
                i.fa.fa-lg.fa-arrow-circle-down
  section#gww.gww-section
    video.bg-video.hidden-xs(width="100%", height="100vh", preload="auto" autoplay loop muted control="false")
      source(src="videos/gww.mp4", type="video/mp4")
    .overlay
      .container-fluid.site-wrapper-inner
        .row
          .col-md-6.col-md-offset-5
            .intro
              h1 Giant Word Winder
              p 
                | GIANT Word Winder® for the Classroom offers a unique game that changes the way kids learn, educators teach, and everybody plays. GIANT Word Winder® is a fun way for everyone to engage with learning in the classroom —as well as other environments, like your local library, church, or even your home.
              a.btn.btn-default.btn-lg.page-scroll(href="/giant-word-winder")
                span
                  | Learn More About Giant Word Winder 
                i.fa.fa-lg.fa-arrow-circle-right
              a.btn.btn-default.btn-lg.page-scroll(href="#david")
                span
                  | Scroll back to the top 
                i.fa.fa-lg.fa-arrow-circle-up    
block scripts
