extends layout

block styles
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.5/jquery.fullPage.min.css")

block content
  #fullpage
    section.section.dlh#section0
      .intro
        h1 David L. Hoyt
        p 
          | Quinoa cardigan Tumblr, tofu chambray Bushwick PBR polaroid Portland try-hard pork belly dreamcatcher. Artisan pug plaid, PBR Marfa cred normcore readymade fashion.
        button Learn More About David
        
    section.section.ww#section1
      .ww-gfx(style="background-image: url('/images/ww/word_winder_board_gfx.svg')")
        //- img(src="/images/ww/word_winder_board_gfx.svg", alt="")
      .intro
        h1 Word Winder
        p 
          | Tilde street art Blue Bottle 3 wolf moon, kitsch plaid YOLO cardigan quinoa polaroid. 8-bit crucifix hella, chillwave hoodie bicycle rights Carles chambray cliche mixtape.
        button Learn More About Word Winder
      
    section.section.gww#section2
      .intro
        h1 Giant Word Winder
        p 
          | Tilde street art Blue Bottle 3 wolf moon, kitsch plaid YOLO cardigan quinoa polaroid. 8-bit crucifix hella, chillwave hoodie bicycle rights Carles chambray cliche mixtape.
        button Learn More About Giant Word Winder
      //- .grid
      //-   .item(style="background-image: url('/images/gww/gww1.jpg')")
      //-   .item(style="background-image: url(/images/gww/gww2.jpg)")
      //-   .item(style="background-image: url(/images/gww/gww3.jpg)")
      //-   .item(style="background-image: url(/images/gww/gww4.jpg)")
      //-   .item(style="background-image: url(/images/gww/gww5.jpg)")
      //-   .item(style="background-image: url(/images/gww/gww6.jpg)")
        
      .grid-full
        .item(style="background-image: url(/images/gww/gww5.jpg)")
          
block scripts
  script(src='/js/lib/jquery.fullPage.js')
