@import "themes/default";
@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
// @import "themes/default";
@import "ww/variables";
@import 'ww/sanitize';
@import 'ww/typography';
@import 'ww/config';
@import 'ww/html';
@import 'ww/forms';
@import 'ww/buttons';
@import 'ww/navigation';
@import 'ww/tables';
@import 'ww/media';
@import 'ww/layout';
@import 'ww/pages';
@import 'ww/px-video';
// @import "styles";


// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  // padding-top: 50px;
  // margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  color: #444;
  background-color: #fff;
  width: 100%;
  height: 45px;
  // line-height: 45px;

  p,
  ul {
    margin-bottom: 0;
  }
}
.divider {
  margin: 50px 0;
  height: 5px;
  background-color: #fff;
}
// Navbar
// -------------------------

.navbar-brand {
  display: block;
  font-size: 22px;
  line-height: 20px;
  width: 200px;
  @media (min-width: 420px) {
    img{width: 125px;
        margin-top: 12px;
        margin-left: -10px;}
  }
  @media (min-width: 768px) {
    img{width: 175px;
        margin-top: 2px;
        margin-left: 12px;}
  }
  @media (min-width: 992px) {
    img{width: 220px;
        margin-top: -3px;
        margin-left: 16px;}
  }
  @media (min-width: 1200px) {
    img{width: 240px;
        margin-top: -1px;
        margin-left: 115px;}
  }
  font-weight: 400;

}

.navbar-brand {
  padding: 0;
  line-height: 1;
  height: 100%;
}

.navbar-default {
  background-color: #006990;
  border: 0;
  text-transform: uppercase;
  border-bottom: 3px solid #FFD84B;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 12px;
  @media (min-width: 768px) {
    font-size: 13px;
  }
  @media (min-width: 1200px) {
    font-size: 18px;
  }
  line-height: 38px;
  &:hover {
    color: #FFD84B;
  }
}

.navbar-default .navbar-nav > .active > a {
  color: #fff;
  &:hover {
    color: #FFD84B;
  }
}

.top-nav-collapse {
  background-color: #006990;
  border-color: #e7e7e7;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.util-nav {
  margin-right: 20px;
  float: left;
  /*@media (min-width: 768px) {
    float:left;
  }*/
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}

// Buttons
// -------------------------

.btn-lg {
  padding: 15px 20px;
  font-weight: bold;
}

.btn-default {
  background-color: transparent;
  border: 4px solid #FFD84B;
  border-radius: 5px;
  width: auto;
  @media (min-width: 992px) {


  }

  span {
    color: #E04703;
    padding: 5px;
  }
}

.btn-default:hover, .btn-default:focus {
  background-color: transparent;
  color:#0094C5;
  border: 4px solid #E04703;;
}

// Section
// -------------------------
section {
  position: relative;
  min-height: 100vh;

  .intro {
    background-color: rgba(0, 0, 0, 0.3);
    color: inherit;
    max-width: 800px;
    @media (min-width: 768px) {
      max-width: 750px;
      margin-left: -19px;
    }
    padding: 20px;
    border-radius: 10px;

    h1 {
      text-transform: uppercase;
    }
  }

  .gfx-block {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
  }

  &.full {
    min-height: 100vh;
    padding: 150px 0;

    .intro {
      background-color: transparent;
    }
  }
}
.david-section {
  background-image: url(/images/david/david4.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .slant {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    border-top: 70vh solid #c12b38;
    border-right: 70vw solid transparent;
    @media (min-width: 1280px) {
      border-top: 98vh solid #c12b38;
      border-right: 98vw solid transparent;
    }
  }

  .intro {
    background-color: transparent;
  }
}
.ww-section {
  background-color: #FFD34E;

  .slant {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    border-top: 70vh solid #0094C5;
    border-right: 70vw solid transparent;
    @media (min-width: 1280px) {
      border-top: 98vh solid #0094C5;
      border-right: 98vw solid transparent;
    }
  }

  .overlay {
    background: transparent;
  }
  .intro {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;

    h1 {
      margin: 10px 0;
    }
    h2 {
      color: #AD8E34;
      margin: 0 0 10px;
    }
    p {

    }
    .btn-default {
      color: #fff;
      border-color: #0093D9;

      span {
        color: #fff
      }
    }
  }
}
.gww-section {
  // background: url(http://elkindnet.github.io/codedesign-onepage-starter-plus/img/7.jpg);
  .intro {
    background-color: rgba(0, 148, 197, 0.7);

    h1 {
      color: #fff;
    }
    p {
      color: #fff;
    }

    .btn-default {
      background-color: transparent;
      border: 2px solid #fff;

      span {
        color: #fff;
      }
    }
  }
}
.contact-section {
  background: url(../img/3.jpg);
}
.overlay {
  padding: 150px 0;
  height: 100vh;

  background: rgba(255,255,255,1);
  /* Old Browsers */background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
  /* FF3.6+ */background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(80%, rgba(255,255,255,0)));
  /* Chrome, Safari4+ */background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
  /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
  /* Opera 11.10+ */background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
  /* IE 10+ */background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 80%);
  /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
  /* IE6-9 */

  display: table;
  width: 100%;
}
.parallax {
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  position: relative;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
  }

}

@media(max-width:767px) {
  .parallax, .overlay {
    height: auto;
    background-position: 50% 50%!important;
  }
  .overlay {
    padding: 70px 0;
    background: rgba(255, 255, 255, 0.7);
  }
  .navbar-default  .navbar-collapse {
    background-color: #E04703;
  }
}

// Video
.hover-video {
  border:6px solid #E04703;
  opacity:.9;
  transition:all .5s ease;
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-top:20px;
  border-radius: 5px;
  @media (min-width: 768px) {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
  }
  @media (min-width: 420px) {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
  }
}

.hover-video:hover {
  opacity:1
}

#play-pause {
  -webkit-transition:all .5s ease;
  -moz-transition:all .5s ease;
  -o-transition:all .5s ease;
  transition:all .5s ease;
  width:0;
  height:0;
  border-left:63px solid #E04703;
  border-top:40px solid transparent;
  border-bottom:40px solid transparent;
  border-right:20px solid transparent;
  margin:0 auto;
  position:relative;
  margin-top:40px
}

.pause {
  border-left:0 solid #E04703;
  border-top:0 solid transparent;
  border-bottom:0 solid transparent;
  width:80px;
  height:80px;
  background:#E04703
}

// Background Video Player
.bg-video {
  position:fixed;
  right:0;
  bottom:0;
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
  z-index:-100;
  background-size:cover
}

.david-more {
  margin-top: 50px;
}
.link-wrap {
  margin-bottom: 35px;
}

.link-wrap i {
  font-size: 32px;
  height: 75px;
  width: 75px;
  margin: 3px;
  border-radius: 100%;
  line-height: 75px;
  text-align: center;
  background: #ffffff;
  color: #E04703;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  // margin-right: 25px;
}

.link-wrap h2 {
  font-size: 18px;
  margin: 10px 0;
  padding: 0;
}

.link-wrap h3 {
  font-size: 14px;
  margin: 0;
}

.headline {
  text-transform: uppercase;
  margin: 40px 0;
  &.dark {
    color: #444;
  }
  width: auto;

  @media (min-width:420) {
    width: 400px;
    margin-top: -20px;
  }
}

.media-link {
  h2 {
    font-size: 22px;
    color: #FFD84B;
    margin-bottom: 10px;
  }
}

// fixed nav
.page-nav {
  float: left;
  margin: 0;
  color: #fff;
  width: 68px;
  position: fixed;
  top: -16px;
  right: 0;
  overflow: hidden;
  -webkit-transition: width .3s ease-in-out;
  -moz-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  z-index: 100;
}

.page-nav-content {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 150px 0;
  min-height: 105vh;
}

.page-nav ul {
  position: absolute;
  top: 40%;
  padding: 0;
}

.page-nav li {
  list-style: none;
  // background-color: rgba(255, 255, 255, 0.9);
  width: 400px;
  position: relative;
  margin: 10px 0;
}

.page-nav li:hover {
  background-color: inherit;

}

.page-nav:hover {
  width: 300px;
  cursor: pointer
}

#icon {
  text-align: center;
  // font-weight: 700;
  padding: 8px;
  margin: 0 5px;
  width: 58px;
  background-color: #E04703;
  display: inline-block;
  border-radius: 5px;

}

.more-block {
  color: #fff;
  a {
    color: #FFD84B;
    &:hover {
      text-decoration: underline;
    }
  }
  /*@media (min-width: 420px) {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
  }
  @media (min-width: 768px) {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
  }
  @media (min-width: 992px) {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
  }*/
}
.video{
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  @media (min-width: 420px) {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
  }
  @media (min-width: 768px) {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
  }
  @media (min-width: 992px) {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
  }

}
