extends ../layout

block content
  .container
    .row
      .topmargin
        h1.text-center Giant Word Winder
        h2.text-center For Schools
        .col-md-8.col-md-offset-2.textbox-top.white
          p.text-center
            | Nullam quis tempor purus, sit amet condimentum arcu. Fusce tempus tempus neque, eu hendrerit neque aliquam sed. Maecenas condimentum, leo id fringilla ornare, libero diam sagittis ligula, id gravida enim risus sed nunc. Phasellus hendrerit quam a erat egestas, varius malesuada lacus iaculis.   
          P.text-center
            | Suspendisse at consequat ligula, a cursus erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pulvinar massa semper, suscipit mi eu, aliquet augue. Praesent vestibulum dolor eu dignissim finibus.
    .row
      .text-center.top
        button.btncover.btn.btn-warning SHOP / BUY
        br
  .row  
  img.picture-wide.zindex-1(src='images/gww/gww1.jpg') 
  
  .row    
  h1.textbox-down.text-center WATCH WHAT THE TEACHERS ARE SAYING
  .row
  img.bottom-img(src='http://placehold.it/1080x200')
      
  
