extends ../layout
block beforeBody
  - bodyClasses.push('gww')
block content
  section.full(style="background-image: url(/images/gww/gww2.jpg);min-height: 90vh;background-size:cover;")
    .container-fluid.site-wrapper-inner
      .row
        .col-md-5.col-md-offset-1
          .gww-intro
            h1.text-center Giant Word Winder
            h2.text-cent.col-md-8.col-md-offset-2
              | Created by the world's most-syndicated daily word game creator David L. Hoyt
            .row
              .col-md-10.col-md-offset-1
                p.text-left
                  | GIANT Word Winder is a 9 foot by 9 foot educational word game that is played on the floor.    
                P.text-left
                  | Players lay out 16 interchangeable and double sided boards - each board consisting of a grid of 16 letters .
                P.text-left
                  | 2-3 teams or individual players take turns highlighting words on the board with brightly colored chips.
                p.text-left
                  | The first players to complete a winding path of words from one side of the board to its opposite side wins!
                p.text-left 
                  | Players collaborate on offensive and defensive strategies, all while honing their spelling and vocabulary skills.
                p 
                  | With more than 236 decillion combinations, no two games will every play the same.
                   
                .text-center.top
                  .btn.btn-default SHOP / BUY 
        .col-md-5
          #gww-video
            p.hover-title.white
              | Hover over video to play
            video.hover-video(width="100%", height="auto", preload="auto" control="false")
              source(src="videos/gww.mp4", type="video/mp4")
            #play-pause
          
  section.full(style="")
    .container-fluid.site-wrapper-inner
      .row
        .col-md-10.col-md-offset-1
          h2.headline Educational Benefits
      .row
        .col-md-10.col-md-offset-1
          p 
           | GIANT Word Winder® benefits students in so many ways! This engaging and interactive word game helps students develop and enhance their word recognition skills while simultaneously fostering peer-to-peer learning and team building.  It even aligns with several key educational initiatives, including Common Core State Standards. Here’s a look at how GIANT Word Winder® accomplishes all of this:
      .row
       .col-md-5.col-md-offset-1
         h3 Active Peer Learning
         p
          | GIANT Word Winder® creates a great environment for peer-to-peer learning! The gameplay encourages students to share their word knowledge and strategies out loud, which allows every player in the game to hear and see the words being spelled. Additionally, students gain exposure to vocabulary they may not yet have mastered themselves. All of this happens while students actively move around right on the game board, thereby physically engaging students in the learning process.         
       .col-md-5   
         h3 Team Building
         p
          | GIANT Word Winder® is an excellent team building tool. The game encourages students to communicate their thinking to identify words and to collaborate on offensive and defensive strategies. These actions help foster confidence and teamwork, both key elements of Social Emotional Learning (SEL).
      
      .row
        .col-md-10.col-md-offset-1
          h3 Aligned with Federal Standards 
          p
           | GIANT Word Winder® is aligned with the Common Core State Standards, particularly those within the English Language Arts Foundation Skills. The flexible game design provides a multitude of words to identify on each board, supporting learners of all skill levels. This allows for the development of grade-level appropriate phonics and analysis skills for every grade level, all within the same game!  Here’s an example:
          img.text-center(src='http://placehold.it/250x50')
           
          p
           | In the above diagram you can see that a first grader might play CAT, a second grader might play CATCH, and a third grader might play CATCHING, and best of all, they could all play together!
           
      .row
        .col-md-10.col-md-offset-1
          p
           | GIANT Word Winder® is also aligned to build and foster 21st Century Skills such as collaboration, critical thinking, and communication. These so-called “soft skills” expand and enhance traditional learning such as basic literacy and numeracy, and are increasingly emphasized in education today.
      .row
        .col-md-5.col-md-offset-1
          iframe(width="560", height="315", src="https://www.youtube.com/embed/zUxjPZwgh_Q", frameborder="0", allowfullscreen="")
          h4.text-center
            | Watch what teachers are saying about GIANT Word Winder®
        .col-md-5 
          iframe(width="560", height="315", src="https://www.youtube.com/embed/uB1VJvg4-4s", frameborder="0", allowfullscreen="")
          h4.text-center
            | Watch what students are saying about GIANT Word Winder®
      
  section.full(style="background-color:#FFD34E;")
    .container-fluid.site-wrapper-inner
      .row
        .col-md-10.col-md-offset-1   
          h1.headline
            | Meet the inventor
          p
          | Hi! I’m David L. Hoyt. I’m a full-time,professional game and puzzle inventor.Being an inventor is awesome! I love being an inventor. You may not realize this, but everyone is an inventor. You are the inventor of your future.To be a good inventor, you need knowledge. I crave knowledge. I don’t care where I get it, but I want to get as much of it as I can.You can get knowledge a lot of different ways and in a lot of different places. There are awesome places like libraries and schools, but everyday the world is presenting you with lots of opportunities to become smarter. The world is always teaching you. A good inventor will soak up all forms of knowledge like a sponge. Whether you’re inventing a new ion-drive propulsion system for a space probe (which I would really love to work on), or inventing your own future, you will want to be smart. To be a good inventor, you are going to want to get as much knowledge as you can. Go get it!
  
  section.full(style="")
    .container-fluid.site-wrapper-inner
      .row
        .col-sm-10.col-md-offset-1
          h1.headline.dark
            | Quotes from experts
          ul.grid-testimonials
            li
              div
                p
                  | “We see GIANT Word Winder as part of the discourse surrounding 21st Century learning, which is about getting kids up and thinking with their hands and their minds. GIANT Word Winder really does that.”
                span.quote-arrow
              span.grid-testimonials-citation Liz McChesney, Director of Children’s Services, Chicago Public Library
              
            li
              div
                p
                  | “When David Hoyt brought GIANT Word Winder into the classroom and laid the game out, the enormity of it really intrigued the kids! They had to start playing immediately.”
                span.quote-arrow
              span.grid-testimonials-citation Jennifer Nelles, 5th Grade Teacher
              
            li
              div
                p
                  | “GIANT Word Winder challenges kids with multiple life skills like creative thinking and decision making”
                span.quote-arrow
              span.grid-testimonials-citation Nate Scheidler, Chicago Toy and Game Group
    

  
      
  
