extends ../layout
block beforeBody
  - bodyClasses.push('gww')
block content
  section.full(style="background-image: url(/images/gww/gww2.jpg);min-height: 90vh;background-size:cover;")
    .container-fluid.site-wrapper-inner
      .row
        .col-md-5.col-md-offset-1
          .gww-intro
            h1.text-center Giant Word Winder
            h2.text-cent.col-md-8.col-md-offset-2
              | Created by the world's most-syndicated daily word game creator David L. Hoyt
            .row
              .col-md-10.col-md-offset-1
                p.text-left
                  | GIANT Word Winder is a 9 foot by 9 foot educational word game that is played on the floor.    
                P.text-left
                  | Players lay out 16 interchangeable and double sided boards - each board consisting of a grid of 16 letters .
                P.text-left
                  | 2-3 teams or individual players take turns highlighting words on the board with brightly colored chips.
                p.text-left
                  | The first players to complete a winding path of words from one side of the board to its opposite side wins!
                p.text-left 
                  | Players collaborate on offensive and defensive strategies, all while honing their spelling and vocabulary skills.
                p 
                  | With more than 236 decillion combinations, no two games will every play the same.
                   
                .text-center.top
                  .btn.btn-default SHOP / BUY 
        .col-md-5
          #gww-video
            p.hover-title.white
              | Hover over video to play
            video.hover-video(width="100%", height="auto", preload="auto" control="false")
              source(src="videos/gww.mp4", type="video/mp4")
            #play-pause
          
  section.full(style="")
    .container-fluid.site-wrapper-inner
      .row
        .col-md-10.col-md-offset-1
          h2.headline WATCH WHAT THE TEACHERS ARE SAYING
      .row
        .col-md-5.col-md-offset-1
          iframe(width="560", height="315", src="https://www.youtube.com/embed/zUxjPZwgh_Q", frameborder="0", allowfullscreen="")
          h3.text-center
            | Watch what teachers are saying.
        .col-md-5 
          iframe(width="560", height="315", src="https://www.youtube.com/embed/uB1VJvg4-4s", frameborder="0", allowfullscreen="")
          h3.text-center
            | Watch what kids are saying.
      .row 
        .col-md-5.col-md-offset-1 
          iframe(width="560", height="315", src="https://www.youtube.com/embed/-2wgwp1seps", frameborder="0", allowfullscreen="")
          h3.text-center
            | Watch kids showing how it works.
        .col-md-5 
          iframe(width="560", height="315", src="https://www.youtube.com/embed/O8hhmzqAU10", frameborder="0", allowfullscreen="")
          h3.text-center
            | Watch kids loving it.

  section.full(style="background-color:#FFD34E;")
    .container-fluid.site-wrapper-inner
      .row
        .col-md-10.col-md-offset-1   
          h1.headline
            | More about GIANT Word Winder®
            
      .row
        .col-md-5.col-md-offset-1
          h2.headline
            | How to ORDER GIANT Word Winder®   
          h3.headline 
            | GIANT Word Winder® is available for purchase directly for $350.  This includes:
          ul
            li 
              | 16 GIANT Word Winder® boards
            li
              | A Complete Set of GIANT Word Winder® Playing Discs 
            li
              | GIANT Word Winder® Rules and Instructions
            li 
              | 3 FREE Word Winder® board games and shipping
        .col-md-5
          h2.headline 
            |  WORD WINDER™ in the Classroom
          p 
            | After seeing how well Word Winder™ worked in the classroom, we created GIANT Word Winder For the Classroom.
          .col-md-6
            img(src="http://static.wixstatic.com/media/75f597_518c44966954b6c02f491b110cfbe0a1.png_srz_p_196_191_75_22_0.50_1.20_0.00_png_srz", alt="")
          .col-md-6
            img(src="http://static.wixstatic.com/media/75f597_10cb5344c34191aec4bb8ffaa08a5026.png_srz_p_191_191_75_22_0.50_1.20_0.00_png_srz", alt="") 
          .row
            .col-md-12
              iframe(width="640px", height="360", src="https://www.youtube.com/embed/7DfvNC8Ed3g", frameborder="0", allowfullscreen="")
    
      
  
