extends ../layout
block beforeBody
  - bodyClasses.push('gww')
block content
  section.full(style="background-image: url(/images/gww/gww2.jpg);min-height: 90vh;background-size:cover;")
    .container-fluid.site-wrapper-inner
      .row
        .col-md-5.col-md-offset-1
          .gww-intro
            h1.text-center Giant Word Winder
            h2.text-cent.col-md-8.col-md-offset-2
              | Changing the way kids learn, educators teach, and everybody plays!
            .row
              .col-md-8.col-md-offset-2
                p.text-left
                  | GIANT Word Winder®  for the Classroom offers a unique gaming system that changes the way kids learn, educators teach and everybody plays. GIANT Word Winder®  is a fun way for everyone to engage with learning in the classroom; as well as other environments, like your local library, church or even your home.    
                P.text-left
                  | GIANT Word Winder®  is a timely educational tool because it offers a solution to the goals and concerns of current educational initiatives and "high stakes" conversations at the national level about children, skills, learning, and societal behavior.
                P.text-left
                  | Invented by David L. Hoyt, the author of the Jumble™ and creator of Word Round Up™, the Word Winder® gaming system has been touted “the best word game on the market!”  With so many ways to play and on multiple platforms, Word Winder® is endlessly entertaining.
                .text-center.top
                  .btn.btn-default SHOP / BUY 
        .col-md-5
          #gww-video
            p.hover-title.white
              | Hover over video to play
            video.hover-video(width="100%", height="auto", preload="auto" control="false")
              source(src="videos/gww.mp4", type="video/mp4")
            #play-pause
          
  section.full(style="")
    .container-fluid.site-wrapper-inner
      .row
        .col-md-10.col-md-offset-1
          h2.headline WATCH WHAT THE TEACHERS ARE SAYING
      .row
        .col-md-5.col-md-offset-1
          iframe(width="560", height="315", src="https://www.youtube.com/embed/zUxjPZwgh_Q", frameborder="0", allowfullscreen="")
          h3.text-center
            | Watch what teachers are saying.
        .col-md-5 
          iframe(width="560", height="315", src="https://www.youtube.com/embed/uB1VJvg4-4s", frameborder="0", allowfullscreen="")
          h3.text-center
            | Watch what kids are saying.
      .row 
        .col-md-5.col-md-offset-1 
          iframe(width="560", height="315", src="https://www.youtube.com/embed/-2wgwp1seps", frameborder="0", allowfullscreen="")
          h3.text-center
            | Watch kids showing how it works.
        .col-md-5 
          iframe(width="560", height="315", src="https://www.youtube.com/embed/O8hhmzqAU10", frameborder="0", allowfullscreen="")
          h3.text-center
            | Watch kids loving it.

  section.full(style="background-color:#FFD34E;")
    .container-fluid.site-wrapper-inner
      .row
        .col-md-10.col-md-offset-1   
          h1.headline
            | More about GIANT Word Winder®
            
      .row
        .col-md-5.col-md-offset-1
          h2.headline
            | How to ORDER GIANT Word Winder®   
          h3.headline 
            | GIANT Word Winder® is available for purchase directly for $350.  This includes:
          ul
            li 
              | 16 GIANT Word Winder® boards
            li
              | A Complete Set of GIANT Word Winder® Playing Discs 
            li
              | GIANT Word Winder® Rules and Instructions
            li 
              | 3 FREE Word Winder® board games and shipping
        .col-md-5
          h2.headline 
            |  WORD WINDER™ in the Classroom
          p 
            | After seeing how well Word Winder™ worked in the classroom, we created GIANT Word Winder For the Classroom.
          .col-md-6
            img(src="http://static.wixstatic.com/media/75f597_518c44966954b6c02f491b110cfbe0a1.png_srz_p_196_191_75_22_0.50_1.20_0.00_png_srz", alt="")
          .col-md-6
            img(src="http://static.wixstatic.com/media/75f597_10cb5344c34191aec4bb8ffaa08a5026.png_srz_p_191_191_75_22_0.50_1.20_0.00_png_srz", alt="") 
          .row
            .col-md-12
              iframe(width="640px", height="360", src="https://www.youtube.com/embed/7DfvNC8Ed3g", frameborder="0", allowfullscreen="")
    
      
  
