extends ../layout
block beforeBody
  - bodyClasses.push('gww')
block content
  section.fullpage(style="background-image: url(/images/gww/gww2.jpg);min-height: 90vh;background-size:cover;")
    .container
      .row
        .col-md-12
          .gww-intro
            h1.text-center Giant Word Winder
            h2.text-center
              | Changing the way kids learn, educators teach, and everybody plays!
            .row
              .col-md-8.col-md-offset-2
                p.text-left
                  | GIANT Word Winder®  for the Classroom offers a unique gaming system that changes the way kids learn, educators teach and everybody plays. GIANT Word Winder®  is a fun way for everyone to engage with learning in the classroom; as well as other environments, like your local library, church or even your home.    
                P.text-left
                  | GIANT Word Winder®  is a timely educational tool because it offers a solution to the goals and concerns of current educational initiatives and "high stakes" conversations at the national level about children, skills, learning, and societal behavior.
                P.text-left
                  | Invented by David L. Hoyt, the author of the Jumble™ and creator of Word Round Up™, the Word Winder® gaming system has been touted “the best word game on the market!”  With so many ways to play and on multiple platforms, Word Winder® is endlessly entertaining.
                .text-center.top
                  .btn.btn-default.buy SHOP / BUY 
          
  section.info-bar
    .container
      .row
        .col-md-12  
          h2.textbox-down.text-center WATCH WHAT THE TEACHERS ARE SAYING
  section(style="margin-top:40px;")
    .container
      .row
        .col-md-6 
          iframe(width="560", height="315", src="https://www.youtube.com/embed/zUxjPZwgh_Q", frameborder="0", allowfullscreen="")
          h3.text-center
            | Watch what teachers are saying.
        .col-md-6 
          iframe(width="560", height="315", src="https://www.youtube.com/embed/uB1VJvg4-4s", frameborder="0", allowfullscreen="")
          h3.text-center
            | Watch what kids are saying.
      .row 
        .col-md-6 
          iframe(width="560", height="315", src="https://www.youtube.com/embed/-2wgwp1seps", frameborder="0", allowfullscreen="")
          h3.text-center
            | Watch kids showing how it works.
        .col-md-6 
          iframe(width="560", height="315", src="https://www.youtube.com/embed/O8hhmzqAU10", frameborder="0", allowfullscreen="")
          h3.text-center
            | Watch kids loving it.
  section.info-bar
    .container
      .row
        .col-md-12  
          h2.textbox-down.text-center 
            | How to ORDER GIANT Word Winder®
  section(style="margin-top:40px;")
    .container
      .row
        .col-md-6  
          p 
            | GIANT Word Winder® is available for purchase directly for $350.  This includes:
          ul
            li 
              | 16 GIANT Word Winder® boards
            li
              | A Complete Set of GIANT Word Winder® Playing Discs 
            li
              | GIANT Word Winder® Rules and Instructions
            li 
              | 3 FREE Word Winder® board games and shipping
        .col-md-6 
          img(src="http://static.wixstatic.com/media/75f597_1244fb76cd7660c0474f2cb6837fad00.png_srz_p_377_267_75_22_0.50_1.20_0.00_png_srz", alt="") 
    
      
  
