extends ../layout
block beforeBody
  - bodyClasses.push('ww')
block content
  section.full(style="background-color:#ffd34e;")
    .container-fluid.site-wrapper-inner
      .row
        .col-md-4.col-md-offset-1
          img.bottom(src='images/ww/ww_board_lowpx.png' width='900px' height='506px')
        .col-md-6
          .intro
            h1 Word Winder
            h2 The Game
            p
              | WORD WINDER™ is the game of winding words. Lay down your chips to form winding lines of winding words. Outrace your opponents and block their lines. Strategy & Cunning! Offense, Defense, Temporary Alliances and Countless Game Board Combinations! From the world’s most syndicated word game creator.​
              .text-center.top
              a.btn.btn-default.btn-lg.page-scroll(href="#")
                span
                  | SHOP / BUY
      .divider
      .row
        .col-md-6.col-md-offset-1
          .intro
            h1 Word Winder
            h2 The Mobile App
            p
              | Play WORD WINDER™ on your Nook right now! And if you don't have a Nook, look for the WORD WINDER™ App on iPads, iPhones and Kindle Fires. There are six amazing and totally original games in the single WORD WINDER™ App! Play by yourself and choose one of four different puzzle games - each has 50 unique puzzles hand crafted by David L. Hoyt, or play together with friends in your choice of multi-player modes -- just like the SideWinder board game. Plus, the App features an instant link to Merriam-Webster's online dictionary - The official dictionary of WORD WINDER™. Buy it today!
            h2 App Demo
            p
              iframe(width="640px", height="360", src="https://www.youtube.com/embed/FxlGzXDdk-0", frameborder="0", allowfullscreen="") 
              
        .col-md-4
          img.bottom(src='http://static.wixstatic.com/media/75f597_664c6108ef8d90df53fab07f47604a7a.png_srb_p_780_430_75_22_0.50_1.20_0.00_png_srb' width='900px' height='506px')
          .download-links
            .row
              .col-md-4
                a(href="https://itunes.apple.com/app/word-winder-hd/id541130015?mt=8")
                  img(src="images/appstore-button.svg", width="190", height="70", alt="")
              .col-md-4
                a(href="http://www.barnesandnoble.com/w/word-winder-adveractive-inc/1110692277?ean=2940043898128&itm=1&usri=2940043898128")
                  img(src="images/nookapp.png", width="190", height="70", alt="")
              .col-md-4
                a(href="http://www.amazon.com/Word-Winder/dp/B00ANTU9OA/ref=sr_1_cc_1?s=aps&ie=UTF8")
                  img(src="images/kindle.png", width="190", height="70", alt="")
                    
                  
  section.full(style="background-color:#AD8E34;")
    .container-fluid.site-wrapper-inner
      .row
        .col-sm-5.col-md-offset-1
          h1.headline
            | HOW TO PLAY WORDWINDER
          h2.headline
            | Game Play Overview
      .row
        .col-md-5.col-sm-offset-1
          p
            | Each player’s or team’s turn consists of spelling a single word on the board by placing their colored WORD WINDER™ chips on the printed letter squares. Each player should announce the word being spelled as the chips are placed.
          .play-gfx
            img(src="http://static.wixstatic.com/media/75f597_6bcb42246a97eeaa6d3130a9b75e3e21.png_srz_p_726_159_75_22_0.50_1.20_0.00_png_srz", alt="")
        .col-md-5
          .play-gfx
            img(src="http://static.wixstatic.com/media/75f597_6fab148020a62a1ec15ee72e101579d3.png_srz_p_726_204_75_22_0.50_1.20_0.00_png_srz", alt="")
          p
            | Words may be spelled in any direction— from left to right, right to left, up or down, diagonally, or any combination of these — so long as the square of each letter in the word is touching the square of the word’s very next letter.
            
  section.full(style="")
    .container-fluid.site-wrapper-inner
      .row
        .col-sm-10.col-md-offset-1
          h1.headline.dark
            | Testimonials
          ul.grid-testimonials
            li
              div
                p
                  | “This ridiculously fun game is perfect for those who love Scrabble - AND especially perfect for those who hate Scrabble!”
                span.quote-arrow
              span.grid-testimonials-citation Stars Entertainment
              
            li
              div
                p
                  | "Word Winder HD trumps just about any other word game for iPad."
                span.quote-arrow
              span.grid-testimonials-citation AppCraver Review
              
            li
              div
                p
                  | If you’re looking for a more challenging kind of word-search puzzle, this app passes the test.”
                span.quote-arrow
              span.grid-testimonials-citation Christina Barron, Washington Post
    
  
