extends ../layout

block content
  .container
    .row
      .topmargin
        h1.text-center Word Winder
        h2.text-center The Game
        .col-md-6.col-md-offset-3.textbox-top
          p.text-center
            | Nullam quis tempor purus, sit amet condimentum arcu. Fusce tempus tempus neque, eu hendrerit neque aliquam sed. Maecenas condimentum, leo id fringilla ornare, libero diam sagittis ligula, id gravida enim risus sed nunc. Phasellus hendrerit quam a erat egestas, varius malesuada lacus iaculis. Suspendisse at consequat ligula, a cursus erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pulvinar massa semper, suscipit mi eu, aliquet augue. Praesent vestibulum dolor eu dignissim finibus.
    .row
      .text-center.top
        button.btncover.btn.btn-warning SHOP / BUY
        br
        .row 
          img.bottom(src='images/ww/ww_board_lowpx.png' width='900px' height='506px')
    .row
  h1.textbox-down.text-center HOW TO PLAY WORDWINDER
  .row
  img.bottom-img(src='http://placehold.it/1080x200')
  
